services:
  - type: web
    name: rails-api
    env: docker
    plan: free
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: RAILS_ENV
        value: production
      - key: PORT
        value: "10000"
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY_BASE
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
        fromDatabase:
          name: app-db
          property: connectionString

  # --- React（serve 版）---
  - type: web
    name: react-web
    env: docker
    plan: free
    dockerfilePath: ./frontend/Dockerfile
    envVars:
      - key: PORT
        value: "10000"

databases:
  - name: app-db
    plan: free
