* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sidebar {
  position: sticky;
  height: 100%;
  width: 28vh;
  background-color: #469CBA;

}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #3b627e;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

@media screen and (max-width: 1024px) {
  .Sidebar {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .Sidebar {
    width: 100%;
  }

  .SidebarList .row {
    height: 52px;
  }
}