* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sidebar {
  position: sticky;
  height: 100%;
  width: 28vh;
  background-color: #469CBA;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

/* 閉じた状態 */
.Sidebar.close {
  width: 60px;
}

/* 行 */
.SidebarList .row {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  transition: background-color 0.2s ease;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #3b627e;
}

/* アイコン */
.row .icon {
  flex: 0 0 60px;
  display: grid;
  place-items: center;
}

/* タイトル部分（アニメーション付き） */
.row .title {
  flex: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;

  /* 開くときに「0→1」のアニメーション開始位置を指定 */
  @starting-style {
    opacity: 0;
  }
}

/* 閉じた状態では非表示 */
.Sidebar.close .title {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0s linear 0s;
}
